<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  		<typeAliases>
  				<typeAlias type="app.spring.vo.MemVo" alias="mem"/>
  				<typeAlias type="app.spring.vo.DetailVo" alias="detailmap"/>
  				<typeAlias type="app.spring.vo.BusinessVo" alias="business"/>
  				<typeAlias type="app.spring.vo.ReviewVo" alias="review"/>
  		</typeAliases>
  		<mappers>
  			<mapper resource="app/spring/mybatis/mapper/MemMapper.xml"/>
  			<mapper resource="app/spring/mybatis/mapper/DetailMapper.xml"/>
  			<mapper resource="app/spring/mybatis/mapper/BusinessMapper.xml"/>
 
  		</mappers>		
  </configuration> 