<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="app.spring.mybatis.mapper.BusinessMapper">
  	
  	<insert id="insert" parameterType="business">
  		insert into business values(0,#{b_bnum},#{b_phone},#{b_name})
  	</insert>

  </mapper>