<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.spring.mybatis.mapper.DetailMapper">
	<select id="findlist" parameterType="String" resultType="detailmap">
		select d_addr,d_sname,d_kind from detail where d_addr like'%?%'=#{d_sname}
	</select>
	<select id="finddetail" parameterType="String" resultType="detailmap">
		select * from detail where d_sname=#{d_sname}
	</select>
	<select id="findimg" parameterType="String" resultType="findimg">
		select p.p_pic from detail d,pic p where d.d_sname=#{d_sname};
	</select>
</mapper>