<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.spring.mybatis.mapper.DetailMapper">
	<insert id="insert" parameterType="detailmap">
		insert into detail values(0,#{a_id},#{b_num},#{d_name},#{d_kind},#{d_pic},#{d_park},#{d_holi},#{d_time},#{d_phone},#{d_addr},0,)
	</insert>
	<select id="findlist" parameterType="String" resultType="detailmap">
		select d_addr,d_sname,d_kind,d_num from detail where d_addr like'%?%'=#{d_sname}
	</select>
	<select id="finddetail" parameterType="String" resultType="detailmap">
		select * from detail where d_sname=#{d_sname}
	</select>
	<select id="findimg" parameterType="String" resultType="findimg">
		select p.p_pic from detail d,pic p where d.d_num=p.d_num and d.d_sname=#{d_sname};
	</select>
	<select id="findmenu" parameterType="String" resultType="findmenu">
		select m.me_name,m.me_pay from detail d,menu m where d.d_num=m.d_num and d.d_sname=#{d_sname};
	</select>
</mapper>