<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.spring.mybatis.mapper.ReportMapper">
	<!-- 신고하기 -->
	<insert id="insert" parameterType="report">
		insert into report value(0,#{a_id},#{m_phone},#{d_num},#{re_title},#{re_category},#{re_content},1)
	</insert>
	
	<!-- 신고삭제 -->
	<delete id="delete"  parameterType="int"  >
		delete from report where re_num=#{re_num}
	</delete>
	
	<!-- 신고상태 변경 -->
	<update id="update" parameterType="report">
		update report set re_state=#{re_state} where re_num=#{re_num}
	</update>
	
	<!-- 신고조회  -->
	<select id="getInfo"  parameterType="int" resultType="report">
		select * from report where re_num=#{re_num}
	</select>
	
	<!-- 신고리스트  -->
	<select id="listAll"  resultType="reportName">
		select re_num,m_phone,d.d_sname,re_title,re_category,re_content,re_state from report r,detail d where r.d_num=d.d_num
	</select>
	
	<!--  신고3회이상 당한 업체 조회 -->
	<select id="getThree"  resultType="reportName" >
		select d_num,count(d_num),re_state from report where 3>=re_state group by d_num having count(d_num)>2
	</select>
	
	<!-- 신고 당한 업체 상태 업데이트 -->
	<update id="getUpdate" parameterType="int" >
		 update report set re_state=4 where d_num=#{d_num} and 4>=re_state
	</update>
</mapper>