<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.spring.mybatis.mapper.SelectListMapper">
  	<select id="searchList" parameterType="map" resultType="searchList"> 
  		select d.d_num,d.d_sname,d.d_addr,d.d_kind,d.d_time,round(avg(r.r_score),1) r_score,d.d_hit, p.p_pic from detail d left outer join menu m on d.d_num=m.d_num left outer join review r on d.d_num=r.d_num left outer join pic p on d.d_num=p.d_num where (d.d_addr like concat('%',#{keyword},'%') or d.d_sname like concat('%',#{keyword},'%') or m.me_name like concat('%',#{keyword},'%'))
    <if test="pri != null and pri !=''">
        and TRUNCATE(m.me_pay/10000,0)=#{pri}
    </if>
    <if test="food != null and food !=''">
        and d_kind=#{food}
    </if>
    <if test="park != null and park !='' and park !=x">
        and d_park=#{park}
    </if>
    	group by d.d_num order by ${standard} limit ${startrow},${endrow}
  	</select>
  	<update id="increhit" parameterType="int">
		update detail set d_hit=d_hit+1 where d_num=#{d_num};
	</update>
	<select id="recount" parameterType="int" resultType="int">
		select count(r_score) from review where d_num=#{d_num};
	</select>
	<select id="checkfood" parameterType="map" resultType="food">
		select * from food where d_num=#{d_num} and m_phone=#{m_phone};
	</select>
	<insert id="joinfood" parameterType="map">
		insert into food values(0,#{d_num},#{m_phone});
	</insert>
	<select id="foodlist" parameterType="String" resultType="searchList">
		select d.d_num,d.d_sname,d.d_addr,d.d_kind,d.d_time,round(avg(r.r_score),1) r_score, p.p_pic from food f inner join detail d on f.d_num=d.d_num left outer join review r on d.d_num=r.d_num left outer join pic p on d.d_num=p.d_num where f.m_phone=#{m_phone} group by d.d_num order by f.f_num desc;
	</select>
	<select id="foodcount" parameterType="String" resultType="int">
		select count(f_num) from food where m_phone=#{m_phone};
	</select>
	<delete id="fooddelete" parameterType="String">
		delete from food where m_phone=#{m_phone};
	</delete>
	<delete id="foodautodel" parameterType="map">
		delete from food where f_num in (select * from ( (select f_num from food where m_phone=#{m_phone} order by f_num desc limit 5,#{del}) as fod) ) limit #{del}
	</delete>
	<select id="searchCount" parameterType="map" resultType="int"> 
  		select count(d_num) from (select d.d_num from detail d left outer join menu m on d.d_num=m.d_num left outer join review r on d.d_num=r.d_num left outer join pic p on d.d_num=p.d_num where (d.d_addr like concat('%',#{keyword},'%') or d.d_sname like concat('%',#{keyword},'%') or m.me_name like concat('%',#{keyword},'%'))
    <if test="pri != null and pri !=''">
        and TRUNCATE(m.me_pay/10000,0)=#{pri}
    </if>
    <if test="food != null and food !=''">
        and d_kind=#{food}
    </if>
    <if test="park != null and park !='' and park !=x">
        and d_park=#{park}
    </if>
    	group by d.d_num order by ${standard})s
  	</select>
  	<select id="searchblogname" parameterType="String" resultType="int">
  		select count(*) from blog where m_phone=#{m_phone}
  	</select>
  	<select id="searchbloglist" resultType="blog">
  		select * from blog b left outer join editor e on b.bl_name=e.bl_name group by b.bl_name order by b.bl_name desc limit 3;
  	</select>
  	<select id="searchmybloginfo" resultType="blog">
  		select * from blog where m_phone=#{m_phone}
  	</select>
  	<select id="bloginfo" parameterType="String" resultType="bloginfo">
  		select * from blog b inner join editor e on b.bl_name=e.bl_name where m_phone=#{m_phone}
  	</select>
  	<insert id="insertblogname" parameterType="blog">
  		insert into blog values(#{bl_name},#{m_phone},#{bl_profile})
  	</insert>
  	<insert id="insertblogname2" parameterType="blog">
  		insert into blog values(#{bl_name},#{m_phone},null)
  	</insert>
  	<insert id="inserteditor" parameterType="editor">
  		insert into editor values(0,#{bl_name},#{ed_title},#{ed_content},#{ed_pic},now(),0);
  	</insert>
  	<insert id="inserteditor2" parameterType="editor">
  		insert into editor values(0,#{bl_name},#{ed_title},#{ed_content},null,now(),0);
  	</insert>
  	<delete id="blogdelete" parameterType="int">
  		delete from editor where ed_num=#{ed_num};
  	</delete>
  	<update id="updateeditor" parameterType="editor">
  		update editor set ed_title=#{ed_title},ed_content=#{ed_content} where ed_num=#{ed_num};
  	</update>
  	<select id="searchtext" parameterType="int" resultType="editor">
  		select * from editor where ed_num=#{ed_num}
  	</select>
  	<select id="bloginfo2" parameterType="String" resultType="bloginfo">
  		select * from blog b inner join editor e on b.bl_name=e.bl_name where b.bl_name=#{bl_name}
  	</select>
  	<select id="searchyourbloginfo" resultType="blog">
  		select * from blog where bl_name=#{bl_name}
  	</select>
</mapper>