<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.spring.mybatis.mapper.ZzimMapper">
	<insert id="insert" parameterType="zzim">
		insert into dish value(0,#{d_num},#{m_phone})
	</insert>
	<delete id="delete" parameterType="zzim">
		delete from dish where d_num=#{d_num}
	</delete>
	<select id="select" resultType="zzim" parameterType="zzim">
		select d_num from dish where m_phone=#{m_phone} and d_num=#{d_num}
	</select>
	<!--  <select id="selectall" resultType="zzimlists" parameterType="String">
		select p.p_pic,d.d_sname,d.d_phone,d.d_addr,@rownum:=@rownum+1 as rnum from detail d,dish s,pic p,(select @rownum :=0) as r where d.d_num=s.d_num and d.d_num=p.d_num and s.m_phone=#{m_phone} group by d.d_num limit 2 
	</select> -->
	<select id="zzimcount" resultType="int">
		select count(*) from dish
	</select>
	<select id="listpage" resultType="zzimlists" parameterType="cri">
		select R1.*from(select s.d_num,p.p_pic,d.d_sname,d.d_phone,d.d_addr from detail d left outer join pic p on d.d_num=p.d_num, dish s where d.d_num=s.d_num and s.m_phone=#{m_phone} group by d.d_num limit #{counts})R1 limit #{pageStart},#{perPageNum}
	</select>
</mapper>